@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0.5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }

  .about-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details-container {
    margin-bottom: 2rem;
    text-align: center;
    width: 80%;
    max-width: 600px;
  }

  #hero .circular-portfolio-pic {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: url("/assets/img/heropic.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;
    top: -60px;
    left: 80%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .details-container {
    width: 100%; 
  }
  .details-container h3 {
    margin-top: 1.5rem; 
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo{
    font-size: 1.5rem;
  }
  .nav-links{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container{
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2{
    font-size: 1.25rem;
  }
  .title{
    font-size: 2rem;
  }
  .text-container{
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .project-container {
    padding: 20px; 
  }
  
  .project-showcase {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  .card {
    width: calc(100% - 20px); 
    margin: 10px; 
    height: 490px ;
  }
  
  .card img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }
  
  .card button {
    width: 50%; 
    bottom:35px; 
  }
  
  .containerr {
    padding: 10px; 
    max-height: none; 
    overflow-y: visible; 
  }
  .githubicon {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }
  #hero {
    padding-left: 10px; 
    background-image: url("path/to/mobile/image.jpg"); 
    background-size: cover; 
    background-position: top; 
    background-repeat: no-repeat; 
    position: relative; 
  }

  /* Circular picture styles */
  #hero .circular-portfolio-pic {
    width: 150px; 
    height: 160px; 
    border-radius: 50%; 
    background: url("/assets/img/heropic.jpg") center center no-repeat; 
    background-size: cover; 
    position: absolute;
    top: -60px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1;
  }
  

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 140px; 
  }
  
  #hero p {
    font-size: 20px;
    line-height: 24px;
  }
  
  #hero .social-links {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative; 
    z-index: 1; 
    display: flex;
    justify-content: center; 
  }
  
  #hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
  }

  .resume-btn {
    position: absolute; 
    font-size: 15px;
    left: 50%; 
    transform: translateX(-50%); 
    top: 300px; 
  }
}

@media screen and (max-width: 1440px) {
  
  #hero {
    background-image: url("path/to/image_for_15_inch_laptops.jpg"); 
    background-size: cover; 
    background-position: center top; 
    background-repeat: no-repeat; 
  }


}

@media screen and (max-width: 375px) { /* Adjust as needed for iPhone 7 */
  /* Styles for smaller screens like iPhone 7 */
  .about-details-container {
    align-items: center; 
  }
  
   /* .section__pic-container {
    width: 120px; 
    height: 120px;
    justify-content: center;
  } */

  .section__pic-container {
    width: auto;
    height: auto;
    justify-content: center; 
    margin: 0 auto; 
  }

  .about-content {
    flex-direction: column;
    align-items: center; 
    gap: 1rem; 
  }
  
  .text-container {
    text-align: center;
  }
  .resume-btn {
    left: 50%; 
    transform: translateX(-50%);
    top: auto; 
  }
  #hero .social-links a {
    font-size: 20px;
    margin-right: 15px;
  }
}


@media screen and (max-width: 1920px) {
  /* Further adjustments for larger screens */
  #hero .circular-portfolio-pic {
    width: 300px;
    height: 300px;
    margin-right: 200px;
  }
  
}

@media screen and (max-width: 1250px) {
  /* Adjustments for screens around 1250px width */
  .card {
    width: calc(33.33% - 20px); /* Adjust card width to fit three cards per row */
  }
}