@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0.5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

  .about-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details-container {
    margin-bottom: 2rem;
    text-align: center; /* Center the content within each box */
    width: 80%; /* Adjust the width to fit the content better */
    max-width: 600px; /* Limit the maximum width of each box */
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .details-container {
    width: 100%; /* Full width for smaller screens */
  }
  .details-container h3 {
    margin-top: 1.5rem; /* Increase space between sections */
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo{
    font-size: 1.5rem;
  }
  .nav-links{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container{
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2{
    font-size: 1.25rem;
  }
  .title{
    font-size: 2rem;
  }
  .text-container{
    text-align: justify;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: calc(50% - 40px);
  }

  /* Hide social links */
  .social-links {
    display: none;
  }

  /* Position the circular portfolio picture at the top */
  .circular-portfolio-pic {
    position: absolute;
    top: 1px; 
    left: 50%;
    transform: translateX(-50%);
    width: 140px; 
    height: 150px; 
    border-radius: 50%;
    background-image: url('/assets/img/tousif.png'); 
    background-size: cover;
    z-index: 1; 
  }

  /* Adjust the size of the name */
  #hero h1 {
    text-align: center;
    font-size: 24px; /* Adjust the font size as needed */
    margin-top: 220px; /* Adjust the margin-top to create space for the picture */
  }

  /* Ensure links are visible */
  .social-links-mobile {
    display: flex;
    justify-content: center;
    margin-top: 100px; /* Adjust the margin-top as needed */
  }

  .social-links-mobile a {
    margin: 0 10px; /* Adjust the spacing between links */
    font-size: 20px; /* Adjust the font size of links */
    color: #000; /* Set the color of links */
  }
  .card button {
    font-size: 16px; /* Decrease font size for smaller screens */
  }

  .githubicon {
    width: 16px; /* Decrease icon size for smaller screens */
    height: 16px;
  }

}

